*{
    margin: 0;
    font-family: "Cooper Black";
    letter-spacing: 1px;
}
html{
    background-color: #f5f5f5;
    overflow-y: auto;
    height: 100%
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 12px;
    list-style: none;
}

ul li{
    display: inline-block;
    list-style: none;
}

ul li a{
    text-transform: lowercase;
    text-decoration: none;
    color: #2a5485;
    padding: 8px 12px;

}

ul li a:hover{
    color: rgb(255 255 255 / 70%);
}

.main{
    max-width: 1200px;
    margin: auto;
}

img{
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%, -100%);
}

.title{
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%, 0%);
}

h1{
    letter-spacing: 5;
}

.subtitle{
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%, 190%);
}

.heading1{
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-120%, 450%);
}

.sub1{
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-300%, 600%);
}

.heading2{
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(10%, 450%);
}

.sub2{
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(20%, 600%);
}

.button{
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%, 1000%);
    color: #ffffff;
}

.btn{
    align-items: center;
    padding: 10 10 10 10;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000000;
    text-decoration: none;
}

h2{
    font-size: 16px;
    letter-spacing: 12px;
}

p{
    font-size: 10px;
    color: #000000;
    background-color: rgb(245 245 245 / 0.6);
    padding: 5;
}

p1{
    font-size: 16px;
    letter-spacing: 2;
}

p2{
    margin: 5;
    font-size: 12px;
    position: absolute;
    bottom: 0;
}

p3{
    margin: 5;
    font-size: 20px;
}

h3{
    margin: 5;
    font-size: 14px;
    color: #ff5959;
}

.card{
    padding: 5;
    max-width: 100%;
    border: 1px solid #e4e4e4;
}

mark{
    background-color: #2a5485;
    color: #fff;
  }

.card-text{
    font-size: 14px;
    color: #4a4a4a;
}

.card-title{
    font-size: 14px;
    color: #ff5959;
}

.tab{
    margin: 10;
    float: left;
    background-color: rgb(255 255 255 / 70%);
    border: 1px solid #e4e4e4;
    width: 24%;
    position: relative;
    top: 15%;
}
  
.tab button{
    margin: 5;
    letter-spacing: 12px;
    font-size: 16px;
    display: block;
    background-color: inherit;
    padding: 10;
    width: 96%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}
  
.tab button:hover{
    background-color: #f3f2f2;
}
  
.tab button.active{
    background-color: #ff5959;
    color: #ffffff;
}
  
.tabcontent{
    margin: 5;
    float: left;
    padding: 10;
    width: 71%;
    border-left: none;
}
